@namespace SmallsOnline.Web.PublicSite.Client

@using SmallsOnline.Web.Lib.Models.Blog

@page "/blog"
@page "/blog/list"
@page "/blog/list/{PageNumber:int}"

<PageTitle>
    Smalls.Online - Blog
</PageTitle>
<HeadContent>
    <meta name="title" property="og:title" content="Smalls.Online Blog" />
    <meta property="og:description" content="Blogs posted by Tim Small (Smalls)." />
    <meta name="author" content="Tim Small">
    <meta property="og:url" content="https://smalls.online/blog/list/@PageNumber" />
</HeadContent>
@if (_isFinishedLoading == false)
{
    <div class="@(ShouldFadeSlideIn is not null && ShouldFadeSlideIn!.Enabled ? "fade-slide-in" : "")">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header">
                        <h1 class="mb-0">
                            <i class="bi bi-journal-text"></i> Blog
                        </h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <LoadingBar />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="@(ShouldFadeSlideIn is not null && ShouldFadeSlideIn!.Enabled ? "fade-slide-in" : "")">
        <div class="row pb-2">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header">
                        <div class="mb-0">
                            <h1>
                                <i class="bi bi-journal-text"></i> Blog
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (_blogEntries is not null && _blogEntries.Entries is not null && _blogEntries.Entries.Count != 0)
    {
        <div class="@(ShouldFadeSlideIn is not null && ShouldFadeSlideIn!.Enabled ? "fade-slide-in" : "")">
            @foreach (BlogEntry blogEntryItem in _blogEntries.Entries)
            {
                <div class="row pb-2">
                    <div class="col">
                        <div class="card shadow">
                            <div class="card-header">
                                <div class="mb-0">
                                    <h1>
                                        @blogEntryItem.Title
                                    </h1>
                                    <div>
                                        <span class="fw-bold">Posted on:</span> <span class="card-subtitle text-muted">@blogEntryItem.PostedDate!.Value.ToLocalTime().ToString("MMMM dd, yyyy hh:mm tt")</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        @if (blogEntryItem.ContentHtml is not null)
                                        {
                                            @((MarkupString)blogEntryItem.ContentHtml)
                                            <a class="btn btn-glaucous" role="button" href="/blog/entry/@blogEntryItem.UrlId">
                                                Read more
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="row pt-2">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <nav>
                                        <ul class="pagination justify-content-center mb-0">
                                            <li class="page-item @(_previousPageBtnDisabled ? "disabled" : "")">
                                                @if (_previousPageBtnDisabled)
                                                {
                                                    <a class="page-link">
                                                        Previous
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a class="page-link" href="/blog/list/@_previousPageNumber">
                                                        Previous
                                                    </a>
                                                }
                                            </li>
                                            @for (int i = 1; i <= _blogEntries.TotalPages; i++)
                                            {
                                                <li class="page-item @(PageNumber == i ? "active" : "")">
                                                    <a class="page-link" href="/blog/list/@i">
                                                        @i
                                                    </a>
                                                </li>
                                            }
                                            <li class="page-item @(_nextPageBtnDisabled ? "disabled" : "")">
                                                @if (_nextPageBtnDisabled)
                                                {
                                                    <a class="page-link">
                                                        Next
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a class="page-link" href="/blog/list/@_nextPageNumber">
                                                        Next
                                                    </a>
                                                }
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="@(ShouldFadeSlideIn is not null && ShouldFadeSlideIn!.Enabled ? "fade-slide-in" : "")">
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        No blogs were found.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}