@namespace SmallsOnline.Web.PublicSite.Client
@inherits ComponentBase

@using SmallsOnline.Web.Lib.Models.FavoritesOf.Albums
@using SmallsOnline.Web.Lib.Models.FavoritesOf.Songs

@page "/top-music/favorites-of/{ListYear?}"

@if (ListYear is null)
{
    <PageTitle>
        Smalls.Online - Favorites of wait... This is null?
    </PageTitle>
    <HeadContent>
        <meta name="title" property="og:title" content="Smalls.Online - Favorite Music of a null... Year?" />
        <meta name="author" content="Tim Small">
        <meta property="og:url" content="https://smalls.online/top-music/favorites-of" />
        <meta property="og:description" content="Smalls's favorite music of... Oof. The year is null for some reason." />
    </HeadContent>
}
else
{
    <PageTitle>
        Smalls.Online - Favorites of @ListYear
    </PageTitle>
    <HeadContent>
        <meta name="title" property="og:title" content="Smalls.Online - Favorite Music of @ListYear" />
        <meta name="author" content="Tim Small">
        <meta property="og:url" content="https://smalls.online/top-music/favorites-of/@ListYear" />
        <meta property="og:description" content="Smalls's favorite music of @ListYear." />
    </HeadContent>
}
@if (_isFinishedLoading == false)
{
    <div class="@(ShouldFadeSlideIn is not null && ShouldFadeSlideIn!.Enabled ? "fade-slide-in" : "")">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header">
                        <h1 class="mb-0">
                            <i class="bi bi-headphones"></i> Favorite Music of @ListYear
                        </h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <LoadingBar />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="@(ShouldFadeSlideIn is not null && ShouldFadeSlideIn!.Enabled ? "fade-slide-in" : "")">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header">
                        <h1 class="mb-0">
                            <i class="bi bi-headphones"></i> Favorite Music of @ListYear
                        </h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h2 id="table-of-contents">
                                    Table of Contents
                                </h2>
                                <ul>
                                    <li>
                                        <a onclick="document.getElementById('favorite-albums').scrollIntoView({behavior:'smooth'})"
                                           class="fs-5 fw-bold text-decoration-none show-pointer-cursor">
                                            Favorite Albums
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="document.getElementById('favorite-songs').scrollIntoView({behavior:'smooth'})"
                                           class="fs-5 fw-bold text-decoration-none show-pointer-cursor">
                                            Favorite Songs
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col">
                <div class="card shadow" id="favorite-albums" @ref="_favoriteAlbumsRef">
                    <div class="card-header">
                        <h1 class="mb-0">
                            Favorite Albums
                        </h1>
                    </div>
                    <div class="card-body">
                        <div class="row pb-3">
                            <div class="col">
                                <InfoCard>
                                    <p class="mb-0">
                                        <i class="bi bi-star-fill bi-icon-color-gold"></i> - This icon means that this is what I
                                        consider to
                                        be my personal <span class="fst-italic">favorite album of the year</span>.
                                    </p>
                                </InfoCard>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @foreach (AlbumData albumItem in _albumItems!)
                                {
                                    <div class="row pb-3" id="@albumItem.AlbumId">
                                        <div class="col">
                                            <AlbumItem ItemData="@albumItem" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col">
                <div class="card shadow" id="favorite-songs" @ref="_favoriteSongsRef">
                    <div class="card-header">
                        <h1 class="mb-0">
                            Favorite Songs
                        </h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @foreach (SongData songItem in _trackItems!)
                            {
                                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 pt-3">
                                    <SongItem ItemData="@songItem" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}